footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background-color: var(--secondary-color);
}

.footer-menu {
    display: flex;
    justify-content: start;
    gap: 5rem;
    align-items:center;
    padding: 1rem 2rem;
}